@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

.body {
  font-family: "Poppins", "sans-serif";
  background-color: #fff;
}
.banner {
  display: flex;
  min-width: 360px;
  padding: 11px 16px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background-color: #383831;
  overflow: hidden;
  color: #fff;
  text-overflow: ellipsis;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  cursor: pointer;
}
.navbar {
  padding: 16px 24px 5px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f0efeb;
}

.onTopImgH1 {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  position: absolute;
  bottom: 60px;
}
.onTopImgH3 {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  position: absolute;
  bottom: 100px;
}
.productsSection {
  padding: 0 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.category {
  padding: 60px 30px;
  min-width: 180px;
  height: 136px;
  background-color: #f5f5f5;
  margin: 0 15px;
  color: #000;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  cursor: pointer;
}
.categoriesDiv {
  display: flex;
  flex-direction: row;
  margin-top: 103px;
}

.inspirateTitle {
  color: #4a4a4a;
  text-align: center;
  font-size: 48px;
  font-weight: 400;
  line-height: normal;
  margin: 60px 500px 45px;
}
.footerDiv {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  height: 195px;
  justify-content: center;
  margin-bottom: 127px;
}
.footerOption {
  background-color: #fff;
  color: #000;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  height: 30px;
  text-decoration-line: underline;
  line-height: normal;
  cursor: pointer;
  padding: 5px 15px 0;
  align-items: center;
  margin: auto 10px;
}
.productArray {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.productContainer {
  width: 385px;
  margin: 20px 16.5px;
}
.productDiv {
  height: 267px;
  width: 385px;
  background: rgb(240 239 235);
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.productName {
  color: #4a4a4a;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  margin-top: 20px;
  cursor: pointer;
}
.productPrice {
  color: #4a4a4a;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.viewAllBtn {
  display: flex;
  width: 264px;
  height: 48px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  background-color: #383831;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: lighter;
  line-height: normal;
  border: none;
  cursor: pointer;
}
.viewAllBtn:hover {
  background-color: #6c6c65;
}
.viewAllBtnDiv {
  display: flex;
  justify-content: center;
  margin: 90px 0 60px;
}
.productosTitle {
  color: #4a4a4a;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
}
.loremDescription {
  color: #4a4a4a;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.4px;
}
.titlePageDiv {
  margin: 40px 0 70px;
}

.paginationBtn {
  border: none;
  color: #000;
  font-size: 19px;
  font-weight: 400;
  background-color: transparent;
  cursor: pointer;
}
.paginationContainer {
  display: flex;
  justify-content: center;
}
.paginationDiv {
  margin: 164px 0 125px;
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.selectedPage {
  font-weight: 800;
}
.nextBtn {
  background-color: transparent;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}
.backBtn {
  transform: rotate(180deg);
  background-color: transparent;
  border: none;
  margin-right: 10px;
  cursor: pointer;
  margin-bottom: 2px;
}
.detailsContainer {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  width: 100%;
}
.imgDetailsDiv {
  width: 850px;
  overflow: hidden;
  background-color: #f0efea;
  display: flex;
  justify-content: center;
}

.productImg {
  height: 100%;
  transition: transform 0.5s ease;
}
.productImg:hover {
  transform: scale(1.2);
}
.productDetailsDiv {
  width: 460px;
  padding-top: 45px;
  margin-right: 100px;
  margin-left: 40px;
}
.productDetailsDiv h3 {
  font-size: 36px;
}
.categoryDetails {
  color: #828280;
  font-size: 16px;
  line-height: 24px;
}
.priceDetails {
  font-size: 24px;
  margin-top: 30px;
}
.bigScreen {
  display: inline;
}
.homePageText {
  background: url("https://s3-alpha-sig.figma.com/img/2f6c/a58a/ed9fb5b0ba663edb534682f404ef8e5d?Expires=1715558400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=WXA1sTJ7Q5n9gbsaQaxPL-0B5MMkluvsWPZdn8xSAnZMiQ2wzPdEVxhsMZLa-zW912vsszoP2c2nXRGKLL5kktRrxx-CJdP81B-7Fz1-EuH5TLk24gIGAjvcNh9WOwO6tgrF61mLOoGLp-D9aAIytrZheFtxYIs5C96g1jFHdBrysczMpOooYG2Bkj4SxMYJ8kjZdLY1P75hnL6kQV5wyCSwhZN3hrSWKpN7YYwV9xxiJJdch~syxzlx2Uu~mToSWjxTW6XOLpjunNUXPgar6Uoi6RfQ-~xFp2iwZRjps4UxGlnxee9kOX8t2GEIjq9tgY0Q562QYsHJ7zhYW1jhmQ__")
    lightgray 50%;
  background-size: cover; /* Cubre todo el área disponible */
  background-position: center; /* Centra la imagen en el contenedor */
  background-repeat: no-repeat;
  height: 775px;
  display: flex;
  justify-content: center;
}
.homePageContainer {
  display: flex;
  flex-direction: column;
}
.favBtn {
  padding: 20px 20px 0 0;
}
.svgDiv {
  margin-right: 30px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .homePageText {
    background: url("https://s3-alpha-sig.figma.com/img/8f7d/95ad/0f0f7f864fc3c4a2106607304f38508f?Expires=1715558400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=C-PNmJFzW6c7PiXGSi-lTIQx1Krx25PDi0iAAXae~212PaKbYJvlO9uUTsrZYayTCz2upFDXAV68JOmJ6AO1m1adaZl9lUFDIeEsdg1Lbsd0U6stT4XfA8vSvyCqyV2fBWc0BmF8lD0nAuLBygGspaySYSzLCY6SPoQmiSqXDr2SGbR6CvoKcC4bxh4FyKSsAFlaIASVA21SK9sLMl-Rmo21nbZra2j9iYErfCW5qat~rKjwyexyzzFe3F3fdvOxROEx56loWrc62rv~SboJ30lqdrj6vOB2WFZGS6N7Ashu45ztvjGJcH05hF2GO9u~COtNGm1e0Z6a38NrBWaNXg__")
      lightgray 50% / cover no-repeat;
    background-size: cover; /* Cubre todo el área disponible */
    background-position: center; /* Centra la imagen en el contenedor */
    background-repeat: no-repeat;
    height: 600px;
  }
  .favBtn {
    padding: 10px 10px 0 0;
  }

  .category {
    min-width: 198px;
  }
  .categoriesDiv {
    overflow-x: scroll;
    margin-top: 45px;
  }
  .productsSection {
    padding: 0;
  }
  .inspirateTitle {
    font-size: 24px;
  }
  .productContainer {
    width: 333px;
  }
  .productDiv {
    width: 333px;
    height: 267px;
  }
  .footerDiv {
    flex-wrap: wrap;
    align-items: center;
  }
  .footerOption {
    margin: 10px;
  }
  .detailsContainer {
    display: flex;
    flex-direction: column;
  }
  .imgDetailsDiv {
    width: 100vw;
  }
}
